COZE_API_KEY=replace_me
APP_SECRET_KEY=replace_me
REQUIRE_DB=true
DB_URL=jdbc:mysql://<db-host>:3306/<db-name>?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&useSSL=false
DB_USER=replace_me
DB_PASSWORD=replace_me
DB_POOL_SIZE=10
UPLOAD_DIR=uploads
