COZE_API_BASE_URL=http://127.0.0.1:5000
COZE_API_RUN_PATH=/run
COZE_API_STREAM_PATH=/stream_run
COZE_API_TOKEN=replace_me
COZE_API_KEY=
COZE_API_URL=
APP_SECRET_KEY=replace_me
REQUIRE_DB=true
DB_URL=jdbc:mysql://<db-host>:3306/<db-name>?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&useSSL=false
DB_USER=replace_me
DB_PASSWORD=replace_me
DB_POOL_SIZE=10
UPLOAD_DIR=uploads
